

<h2>测试项目：</h2>

  <table>
    <% Item.pluck(:name, :id).each do |item, item_id| %>
    <tr>
      <td><%= check_box_tag("item[#{item_id}]") %></td>
      <td><%= label_tag("item[#{item_id}]", item) %></td>
      <%# Template.pluck(:value, :id).each do |value, t_id| %>
        <!-- <td><%#= text_field_tag "value[#{item_id}]" %></td>
        这里不用text_feild_tag，而用input -->
      <%# end %>

    </tr>
    <% end %>
  </table>

    <%= submit_tag "测试项目选好了" %>




<%= link_to "添加表内没有的测试项目", new_admin_item_path %>
